body {
    background-color: ivory;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 50px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50px;
    transition: box-shadow 0.3s ease;
    
}

.container:hover {
    box-shadow: 0 20px 22px 0 lightblue;
}


.nav {
    list-style: none;
    text-align: center;
    text-shadow: 5px 5px gold;
    
}

.nav li {
    display: inline;
    margin-right: 100px;
}

.div-test {
    background-image: url(/css_demo/images/gradient.jpg);
    text-align: center;
    color: grey;
    
}   

.span1 {
    font-size: 50px;
}


.span2 {
    font-size: 10px;
}

h1 {
    text-decoration-style: dashed;
    text-decoration-line: underline;
}