.nav {
    list-style: none;
    text-align: center;
    
}

.nav li {
    display: inline;
    margin-right: 100px;
}

.container {
    width: 1000px;
    margin: 0 auto;
    padding: 50px;
    background-color:rgb(211, 211, 211, 0.4);
    border: 2px solid gray;
    transition: box-shadow ease 0.3s;
    transition: transform 0.3s ease-in;

}

.container:hover {
    box-shadow: 0 20px 20px 0 lightcyan;
    transform: scale(1.1);
}

.gallery-image {
    width: 200px;
    height: 400px;
    cursor: pointer;
    margin: 0 auto;
    padding: 50px;
    transition: transform 0.5s ease;
    display: flex;

}
.gallery-image:hover {
    transform: scale(1.1);

}

.overlay-text {
  position: relative;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: lightgrey;
  color: black; 
  font-size: 20px;
  padding: 30px 30px; 
  text-align: center;
}

.large-text {
    font-size: large;
}

img:hover {
    transform:scale(1.1);
}

img {
    transition: 0.3s ease-in;
}